In [1]:
import pandas as pd

The Melt Function
 - This function is useful to massage a DataFram into a format where one or more colums are identifer variables (id_vars), while all other columns, considered measured variables (value_vars) are "unlvoted" to the row axis, leaving just two non-identifier columns, 'variable' and 'value'

In [2]:
# Lets Create a DataFrame
df = pd.DataFrame({'A':{0:'a',1:'b',2:'c'},
                  'B':{0:1,1:3,2:5},
                  'C':{0:2,1:4,2:6}})
# Lets print the dataframe
df

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [3]:
# Lets melt the data
df.melt(id_vars=['A'], value_vars=['B'])

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5